<div class="side-menu">
    <div class="brand-name">
        <h1>Game Shop</h1>
    </div>
    <ul>
        <li><img src="#" alt="">&nbsp;<span>Panel de control</span></li>
        <li><img src="#" alt="">&nbsp;<span>Clientes</span></li>
        <li><img src="#" alt="">&nbsp;<span>Productos</span></li>
        <li><img src="#" alt="">&nbsp;<span>Ventas</span></li>
        <li><img src="#" alt="">&nbsp;<span>Vendedores</span></li>
        <li><img src="" alt="">&nbsp;<span>Inventario</span></li>
        <li><img src="#" alt="">&nbsp;<span>Ayuda</span></li>
        <li><img src="#" alt="">&nbsp;<span>Opciones</span></li>
        <li><img src="#" alt="">&nbsp;<span>Cerrar Sesion</span></li>

    </ul>
</div>
